---
title: Contributors
layout: 'layouts/page.html'
---

<div class="row">
	{% for contributor in contributors %}
		<div class="col-md-6 d-flex justify-content-center crop">
			<article class="card shadow-lg p-3 mb-5 bg-white rounded" aria-labelledby="h-{{ contributor.login }}">
				<img class="card-img-top" src="{{ contributor.avatar_url }}" alt="" />
				<div class="card-body">
					<h2 id="h-{{ contributor.login }}">
						<a class="btn btn-warning" href="{{ contributor.profile }}">{{ contributor.name }}</a>
					</h2>
					<ul>
						{% for contribution in contributor.contributions %}
						<li>
							<span aria-hidden="true">{{ contributions[contribution].emoji }}</span>
							<span>{{ contributions[contribution].name }}</span>
						</li>
						{% endfor %}
					</ul>
				</div>
			</article>
		</div>
	{% endfor %}
</div>


